.icon-angle-down {
  width: 1.71em;
  height: 1em;
  fill: initial;
}
.icon-check {
  width: 1.3em;
  height: 1em;
  fill: initial;
}
.icon-search {
  width: 0.96em;
  height: 1em;
  fill: initial;
}
